{
  "presets": [
    [
      "es2015", {"modules": false}
    ],
    "react",
    "stage-0",
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["lodash", { "id": ["lodash", "recompose"] }]
  ]
}
