{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./configs/webpack/webpack.base.config.js"
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6" : true
  },
  "plugins": [
    "require-path-exists",
    "react",
    "babel"
  ],
  "rules": {
    "strict": 0,
    "global-require": 0,
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0,
    "import/extensions": 0,
    "quote-props": 0,
    "arrow-body-style": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/first": 0,
    "jsx-a11y/label-has-for": 0,
    "comma-dangle": ["error", "only-multiline"],
    "func-names": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}